{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#">New</a></li>
    <li><a href="#">Best</a></li>
</ul>

{% for i in '123' %}
<div class="question row-fluid">
    <div class="span2 imglike">
        <img src="http://lorempixel.com/120/120/" class="img-rounded">
        <div class="btn-group like pull-left">
            <button class="btn btn-small">-</button>
            <button class="btn btn-small" disabled>7</button>
            <button class="btn btn-small">+</button>
        </div>
    </div>
    <div class="span6">
        <h4><a href="#">How to ask questions?</a></h4>
        <p>some text about this question</p>
        <div>
            <a href="#">answer <span class="badge">10</span></a>
            Tags: <a href="#">lol</a> <a href="#">funny</a> <a href="#">unlikely</a>
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
    <ul>
        <li class="disabled"><a href="#">Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
{% endblock %}
